.container {
  width: 100%;
  position: relative;
}

.clearButton {
  z-index: 1;
  position: absolute;
  right: 3px;
  top: 0;
  height: 26px;
  width: 26px;
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  opacity: 0.5;
  outline: 0;
}
.clearButton svg {
  width: 17px;
  height: 17px;
}
.clearButton:hover {
  opacity: 1;
}

.query {
  display: flex;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.queryType {
  text-transform: capitalize;
  font-weight: bold;
  margin-right: 5px;

  background: #3c4042;
  border-radius: 3px;
  width: 15px;
  height: 15px;
  text-align: center;
}
.queryTypeQuery {
  color: #1ef57a;
}
.queryTypeMutation {
  color: #f41dec;
}
.queryTotal {
  font-weight: bold;
  margin-left: auto;
}

.status {
  display: flex;
  align-items: center;
  min-width: 150px;
}
.statusColor {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-right: 5px;
}
