.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.networkTable {
  width: 100%;
  border-right: 1px solid #3d4043;
}

.networkPanel {
  width: 100%;
  background-color: #1c2022;
}
