@tailwind base;
@tailwind components;
@tailwind utilities;

[data-color-scheme="dark"] {
  color-scheme: dark;
}

[data-color-scheme="light"] {
  color-scheme: light;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.2rem;
}

button {
  cursor: pointer;
}

/* Scroll */

.scroll {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.scroll::-webkit-scrollbar {
  width: 0 !important;
}

/* JSON Viewer */

.react-json-view {
  background: none !important;
}

.react-json-view *:focus {
  border-radius: 3px;
  outline: 2px solid #d4d4d4;
  background-color: #d4d4d4;
}

.dark .react-json-view *:focus {
  outline: 2px solid #3a4351;
  background-color: #3a4351;
}

@layer components {
  .text-input {
    @apply dark:bg-gray-900 border border-gray-300 dark:border-gray-600 px-3 py-1 rounded-lg text-lg;
  }
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.react-code-block-override * {
  user-select: text !important;
}

.resize-split__resize-handle {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: col-resize;
  transition: background-color 0.1s ease-in-out;
  position: relative;
  z-index: 100;
}
.resize-split__resize-handle:hover,
.resize-split__resize-handle:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
