@tailwind base;
@tailwind components;
@tailwind utilities;

[data-color-scheme="dark"] {
  color-scheme: dark;
}

[data-color-scheme="light"] {
  color-scheme: light;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.2rem;
}

input {
  font-size: 1.2rem !important;
}

button {
  cursor: pointer;
}

/* Scroll */

.scroll {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.scroll::-webkit-scrollbar {
  width: 0 !important;
}

/* Resizer */

.Resizer {
  opacity: 0.5;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  z-index: 20;
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
  transition: 0.1s;
}
.Resizer.vertical:hover {
  border-left: 5px solid rgba(255, 255, 255, 0.2);
  border-right: 5px solid rgba(255, 255, 255, 0.2);
}

.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.Pane2 {
  width: 0;
}

/* JSON Viewer */

.react-json-view {
  background: none !important;
}

.react-json-view *:focus {
  border-radius: 3px;
  outline: 2px solid #d4d4d4;
  background-color: #d4d4d4;
}

.dark .react-json-view *:focus {
  outline: 2px solid #3a4351;
  background-color: #3a4351;
}
